/* VARIABLES */
:root {
  --acadia: #383634;
  --paradiso: #4c7c7d;
  --roman: #e45959;
  --desert-storm: #edeae7;
  --sea-shell: #f6f4f2;
  --white: #ffffff;
  --dawn: #a4a2a0;
}

/* RESET */
* {
  box-sizing: border-box;
}

html,
body,
div,
section,
figure,
p,
a,
img,
ul,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* GENERAL */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  background-color: var(--sea-shell);
  color: var(--acadia);
}

/* GENERAL: ANCHORS */
a {
  text-decoration: none;
  color: var(--acadia);
}

/* GENERAL: BUTTONS */
button {
  background: none;
  border: none;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

/* GENERAL: MATERIAL SYMBOLS */
.material-symbols-outlined {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: var(--acadia);
}

/* LAYOUT */
.layout {
  max-width: 100vw;
  width: 100%;
  padding: 2rem 0;
}

/* HEADER */
.header {
  width: 134rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

@media (max-width: 85rem) {
  .header {
    width: 100%;
    padding: 0 1rem;
  }
}

/* HEADER: LEFT & RIGHT */
.header__left,
.header__right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* HEADER: LEFT - LOGO */
.header__left--logo img {
  height: 4rem;
}

/* HEADER: LEFT - SEARCH */
.header__left--search {
  display: flex;
  align-items: center;
  background-color: var(--white);
  height: 4rem;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

@media (max-width: 55rem) {
  .header__left--search {
    display: none;
  }
}

.header__left--search input {
  font-family: 'Lato', sans-serif;
  outline: none;
  background: none;
  border: none;
}

/* HEADER: LEFT - CATEGORIES */
.header__left--categories {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

@media (max-width: 55rem) {
  .header__left--categories {
    display: none;
  }
}

.header__right {
  height: 2.4rem;
}

/* HEADER: RIGHT - SEARCH */
.header__right--search {
  display: none;
  height: 2.4rem;
}

@media (max-width: 55rem) {
  .header__right--search {
    display: block;
  }
}

/* HEADER: RIGHT - ACCOUNT */
@media (max-width: 55rem) {
  .header__right--account p {
    display: none;
  }
}

@media (max-width: 55rem) {
  .header__right--account span:nth-of-type(2) {
    display: none;
  }
}

/* HEADER: RIGHT - CART */
.header__right--cart {
  height: 4rem;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 0 1.5rem;
}

@media (max-width: 55rem) {
  .header__right--cart {
    background: none;
    padding: 0;
  }
}

@media (max-width: 55rem) {
  .header__right--cart p {
    display: none;
  }
}

/* HEADER: RIGHT - MENU */
.header__right--menu {
  display: none;
  height: 2.4rem;
}

@media (max-width: 55rem) {
  .header__right--menu {
    display: block;
  }
}

/* MAIN */
.main {
  width: 134rem;
  margin: 0 auto;
}

@media (max-width: 85rem) {
  .main {
    width: 100%;
    padding: 0 1rem;
  }
}

/* BANNERS */
.banners {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* BANNERS: CONTAINER */
.banners__container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 55rem) {
  .banners__container {
    flex-direction: column-reverse;
  }
}

/* BANNER */
.banner {
  border-radius: 2rem;
  height: 35rem;
}

/* BANNER: LEFT */
.banner--left {
  background-color: var(--desert-storm);
  width: 66.66%;
}

@media (max-width: 55rem) {
  .banner--left {
    width: 100%;
    display: none;
  }
}

/* BANNER: RIGHT */
.banner--right {
  background-color: var(--acadia);
  width: 33.33%;
}

@media (max-width: 55rem) {
  .banner--right {
    width: 100%;
  }
}

/* BANNERS: CONTROLS */
.banners__controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 55rem) {
  .banners__controls {
    display: none;
  }
}

.banners__controls--left,
.banners__controls--right {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--dawn);
  cursor: pointer;
}

.banners__controls--left {
  background-color: var(--acadia);
}
